<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration核心配置文件 -->
<!-- xml文件中所有文件都规定了顺序 -->
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!-- transactionManager 事务管理器 -->
            <dataSource type="POOLED"><!-- dataSource 数据源 用来连接数据路 -->
                <property name="driver" value="${driver}"/><!-- property 属性 实现引用配置 -->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 每一个Mapper.xml都需要在Mybatis核心配置文件中注册！ -->
    <mappers>
        <mapper resource="com/feng/dao/UserMapper.xml"/>
    </mappers>
</configuration>